In [1]:
import json
import ast
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option('display.max_colwidth', None)

In [2]:
# This code was written in Spark environment
# Flatten the original dataframe with this code
'''

def flatten_nested_json_df(df):
    
    print(f"original shape: {df.shape}")
    print(f"original columns: {df.columns}")
    
    
    # search for columns to work on
    
    d = (df.applymap(type) == dict).any()
    dict_columns = d[d].index.tolist()
    print(f"dicts: {dict_columns}")
    
    while len(dict_columns) > 0:
        new_columns = []

        for col in dict_columns:
            print(f"flattening: {col}")
            # explode dictionaries horizontally, adding new columns
            horiz_exploded = pd.json_normalize(df[col]).add_prefix(f'{col}.')
            horiz_exploded.index = df.index
            df = pd.concat([df, horiz_exploded], axis=1).drop(columns=[col])
            new_columns.extend(horiz_exploded.columns) # inplace
        
        print('checking new columns')
        d = (df.applymap(type) == dict).any()
        dict_columns = d[d].index.tolist()
        print(f"dicts: {dict_columns}")

        
        
    print(f"final shape: {df.shape}")
    print(f"final columns: {df.columns}")
    return df
    
    
df1 = flatten_nested_json_df(df_b)
df1.head(15)
#df1.to_csv('business_flat.csv')'''

'\n\ndef flatten_nested_json_df(df):\n    \n    print(f"original shape: {df.shape}")\n    print(f"original columns: {df.columns}")\n    \n    \n    # search for columns to work on\n    \n    d = (df.applymap(type) == dict).any()\n    dict_columns = d[d].index.tolist()\n    print(f"dicts: {dict_columns}")\n    \n    while len(dict_columns) > 0:\n        new_columns = []\n\n        for col in dict_columns:\n            print(f"flattening: {col}")\n            # explode dictionaries horizontally, adding new columns\n            horiz_exploded = pd.json_normalize(df[col]).add_prefix(f\'{col}.\')\n            horiz_exploded.index = df.index\n            df = pd.concat([df, horiz_exploded], axis=1).drop(columns=[col])\n            new_columns.extend(horiz_exploded.columns) # inplace\n        \n        print(\'checking new columns\')\n        d = (df.applymap(type) == dict).any()\n        dict_columns = d[d].index.tolist()\n        print(f"dicts: {dict_columns}")\n\n        \n        \n    print(f"final shape: {df.shape}")\n    print(f"final columns: {df.columns}")\n    return df\n    \n    \ndf1 = flatten_nested_json_df(df_b)\ndf1.head(15)\n#df1.to_csv(\'business_flat.csv\')'

In [3]:
# Loading the flattened data
df_b = pd.read_csv('business_flat.csv', index_col=None)

C:\Users\xu3jo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Drop unused column
df_b = df_b.drop('Unnamed: 0', axis = 1)

In [5]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories,attributes.RestaurantsTableService,attributes.WiFi,attributes.BikeParking,attributes.BusinessParking,attributes.BusinessAcceptsCreditCards,attributes.RestaurantsReservations,attributes.WheelchairAccessible,attributes.Caters,attributes.OutdoorSeating,attributes.RestaurantsGoodForGroups,attributes.HappyHour,attributes.BusinessAcceptsBitcoin,attributes.RestaurantsPriceRange2,attributes.Ambience,attributes.HasTV,attributes.Alcohol,attributes.GoodForMeal,attributes.DogsAllowed,attributes.RestaurantsTakeOut,attributes.NoiseLevel,attributes.RestaurantsAttire,attributes.RestaurantsDelivery,attributes.GoodForKids,attributes.ByAppointmentOnly,attributes.AcceptsInsurance,attributes.HairSpecializesIn,attributes.GoodForDancing,attributes.BestNights,attributes.Music,attributes.BYOB,attributes.CoatCheck,attributes.Smoking,attributes.DriveThru,attributes.BYOBCorkage,attributes.Corkage,attributes.RestaurantsCounterService,attributes.AgesAllowed,attributes.DietaryRestrictions,attributes.Open24Hours,hours.Monday,hours.Tuesday,hours.Wednesday,hours.Thursday,hours.Friday,hours.Saturday,hours.Sunday
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"Gastropubs, Food, Beer Gardens, Restaurants, Bars, American (Traditional), Beer Bar, Nightlife, Breweries",True,u'free',True,"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",True,False,True,True,True,True,True,False,2,"{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}",True,'beer_and_wine',"{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",False,True,u'average','casual',None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"Salad, Soup, Sandwiches, Delis, Restaurants, Cafes, Vegetarian",NaN,u'free',False,"{'garage': True, 'street': False, 'validated': False, 'lot': False, 'valet': False}",True,False,NaN,True,False,False,NaN,NaN,2,"{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}",False,u'beer_and_wine',"{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': True}",NaN,True,u'average',u'casual',False,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5:0-18:0,5:0-17:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"Antiques, Fashion, Used, Vintage & Consignment, Shopping, Furniture Stores, Home & Garden",NaN,NaN,False,"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11:0-18:0,11:0-18:0,11:0-18:0,11:0-18:0
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"Beauty & Spas, Hair Salons",NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"Gyms, Active Life, Interval Training Gyms, Fitness & Instruction",NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16:0-19:0,16:0-19:0,16:0-19:0,16:0-19:0,16:0-19:0,9:0-11:0,NaN

In [6]:
# Getting just business ids
business_id = df_b.iloc[:,0]
business_id.head()

0    6iYb2HFDywm3zjuRg0shjw
1    tCbdrRPZA0oiIYSmHG3J0w
2    bvN78flM8NLprQ1a1y5dRg
3    oaepsyvc0J17qwi8cfrOWg
4    PE9uqAjdw0E4-8mjGl3wVA
Name: business_id, dtype: object

In [7]:
# Fill NaN with False
df_a = df_b.iloc[:,12:51].fillna(False)

### Business Data

In [8]:
# Getting business data columns
df_businessdata = df_b.iloc[:,0:12]
df_businessdata.shape

(160585, 12)

In [9]:
df_businessdata.describe() # No missing value here

,latitude,longitude,stars,review_count,is_open
count,160585.000000,160585.000000,160585.000000,160585.000000,160585.000000
mean,38.759794,-94.266212,3.656954,51.964548,0.767494
std,7.138042,19.975446,0.943604,130.030448,0.422431
min,27.998972,-123.393928,1.000000,5.000000,0.000000
25%,30.355886,-122.589583,3.000000,8.000000,1.000000
50%,42.177366,-84.383281,4.000000,17.000000,1.000000
75%,45.458531,-81.288501,4.500000,44.000000,1.000000
max,49.490000,71.113271,5.000000,9185.000000,1.000000

In [10]:
# Checking nulls
df_businessdata.isnull().sum()

business_id        0
name               0
address         6726
city               0
state              0
postal_code      110
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
categories       115
dtype: int64

In [11]:
# Writing to csv

df_businessdata.to_csv('df_business_basicdata.csv')

### Working on Ambience

In [12]:
# Trying code that returns labels with true
#df_b['attributes.Ambience'].head(50)
# There are places with 2 or more 'Ambience'
a = {'touristy': False, 'hipster': True, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': True}
new_value = str()
for key in a.keys():
    if a[key]:
        new_value = new_value + str(key) + ', '
new_value = new_value[:-2]
print(new_value)

hipster, casual

In [13]:
# Function for if row have > 5 attributes
def row_stuff(row):
    if row and len(row)> 5:
        row = ast.literal_eval(row)
    else:
        row = False

In [14]:
# Ambience labels but all labels in one column, found amdience set
# run the print to find out!
#counter = 0
ambience_set = set()
ambience_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.Ambience']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                ambience_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#    counter += 1
    ambience_dict[b_id] = new_value
    #ambience_dict[row[0]] = new_value


ambience_set

{'casual',
 'classy',
 'divey',
 'hipster',
 'intimate',
 'romantic',
 'touristy',
 'trendy',
 'upscale'}

In [15]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(ambience_dict, orient='index')
df_ambience = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)

In [16]:
# Write to csv
df_ambience.to_csv('df_business_ambience.csv')

### Working on BusinessParking

In [17]:
# Cleaning businessparking to get unique valus

#counter = 0
BusinessParking_set = set()
BusinessParking_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.BusinessParking']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                BusinessParking_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#    counter += 1
    BusinessParking_dict[b_id] = new_value

BusinessParking_set

{'garage', 'lot', 'street', 'valet', 'validated'}

In [18]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(BusinessParking_dict, orient='index')
df_businessparking = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)
df_businessparking.to_csv('df_business_businessparking.csv')

### Working on GoodForMeal

In [19]:
# Cleaning goodformeal in similar fashion
#counter = 0
GoodForMeal_set = set()
GoodForMeal_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.GoodForMeal']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                GoodForMeal_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#    counter += 1
    GoodForMeal_dict[b_id] = new_value

GoodForMeal_set

{'breakfast', 'brunch', 'dessert', 'dinner', 'latenight', 'lunch'}

In [20]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(GoodForMeal_dict, orient='index')
df_GoodForMeal = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)
df_GoodForMeal.to_csv('df_business_goodformeal.csv')

### Working on HairSpecializesIn

In [21]:
# Cleaning hairspecializesin in similar fashion

#counter = 0
HairSpecializesIn_set = set()
HairSpecializesIn_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.HairSpecializesIn']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                HairSpecializesIn_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#    counter += 1
    HairSpecializesIn_dict[b_id] = new_value

HairSpecializesIn_set

{'africanamerican',
 'asian',
 'coloring',
 'curly',
 'extensions',
 'kids',
 'perms',
 'straightperms'}

In [22]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(HairSpecializesIn_dict, orient='index')
df_HairSpecializesIn = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)
df_HairSpecializesIn.to_csv('df_business_hairspecializesin.csv')

### Working on Music

In [23]:
# Cleaning music in similar fashion

#counter = 0
Music_set = set()
Music_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.Music']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                Music_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#    counter += 1
    Music_dict[b_id] = new_value

Music_set

{'background_music', 'dj', 'jukebox', 'karaoke', 'live', 'video'}

In [24]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(Music_dict, orient='index')
df_Music = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)
df_Music.to_csv('df_business_music.csv')

### Working on BestNights

In [25]:
# Cleaning bestnights in similar fashion

#counter = 0
BestNights_set = set()
BestNights_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.BestNights']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                BestNights_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#    counter += 1
    BestNights_dict[b_id] = new_value

BestNights_set

{'friday', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday'}

In [26]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(BestNights_dict, orient='index')
df_BestNights = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)
df_BestNights.to_csv('df_business_bestnights.csv')

### Working on DietaryRestrictions

In [27]:
# Cleaning dietaryrestrictions in similar fashion

#counter = 0
DietaryRestrictions_set = set()
DietaryRestrictions_dict = dict()
for b_id, row in zip(business_id, df_a['attributes.DietaryRestrictions']):
    if row and len(row)> 5:
        new_value = list()
        row_dict = ast.literal_eval(row)
        for key in row_dict.keys():
            if row_dict[key]:
                new_value.append((key))
                DietaryRestrictions_set.add(str(key))
        if len(new_value) == 0:
                continue
    else:
        continue
#        new_value = []
#    counter += 1
    DietaryRestrictions_dict[b_id] = new_value

DietaryRestrictions_set

{'dairy-free', 'gluten-free', 'vegan', 'vegetarian'}

In [28]:
# Dict to DataFrame
u = pd.DataFrame.from_dict(DietaryRestrictions_dict, orient='index')
df_DietaryRestrictions = pd.get_dummies(u, prefix='', prefix_sep='').max(level=0, axis=1).astype(bool)
df_DietaryRestrictions.to_csv('df_business_dietaryrestrictions.csv')

In [29]:
df_DietaryRestrictions.head()

                        dairy-free  gluten-free  vegan  vegetarian
UZFV5Mff58U5MwjE2YGwUg       False        False   True       False
FYCnuEa2_iXXchsh2PqUyw       False         True   True        True
Nd7X0L2fKnPdqseYZP48Zg       False         True   True       False
XG0NEOFrYyXWObPi7AfHyA        True         True  False       False
dJp3n8pZqGULoPTo4AFRZQ       False        False   True       False

### Working on the rest

In [30]:
# Drop separate tables
df_a = df_a.drop(['attributes.BusinessParking', 'attributes.Ambience', 'attributes.GoodForMeal', 'attributes.HairSpecializesIn', 'attributes.BestNights', 'attributes.Music', 'attributes.DietaryRestrictions'], axis = 1)

In [31]:
df_a.head()

,attributes.RestaurantsTableService,attributes.WiFi,attributes.BikeParking,attributes.BusinessAcceptsCreditCards,attributes.RestaurantsReservations,attributes.WheelchairAccessible,attributes.Caters,attributes.OutdoorSeating,attributes.RestaurantsGoodForGroups,attributes.HappyHour,attributes.BusinessAcceptsBitcoin,attributes.RestaurantsPriceRange2,attributes.HasTV,attributes.Alcohol,attributes.DogsAllowed,attributes.RestaurantsTakeOut,attributes.NoiseLevel,attributes.RestaurantsAttire,attributes.RestaurantsDelivery,attributes.GoodForKids,attributes.ByAppointmentOnly,attributes.AcceptsInsurance,attributes.GoodForDancing,attributes.BYOB,attributes.CoatCheck,attributes.Smoking,attributes.DriveThru,attributes.BYOBCorkage,attributes.Corkage,attributes.RestaurantsCounterService,attributes.AgesAllowed,attributes.Open24Hours
0,True,u'free',True,True,False,True,True,True,True,True,False,2,True,'beer_and_wine',False,True,u'average','casual',None,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,u'free',False,True,False,False,True,False,False,False,False,2,False,u'beer_and_wine',False,True,u'average',u'casual',False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [32]:
# Function for stripping strings

def strip_stuff(x):
    if x:
        x = str(x).strip('u').strip("'")
        if x == "None":
            return False
        else: 
            return x
    return False

In [33]:
# RestaurantsTableService value counts
df_a['attributes.RestaurantsTableService'].value_counts()

False    142918
True       9004
False      6414
True       2239
None         10
Name: attributes.RestaurantsTableService, dtype: int64

In [34]:
# RestaurantTableService unique values
df_a['attributes.RestaurantsTableService'].unique()

array(['True', False, 'False', 'None', True], dtype=object)

In [35]:
# Standardizing True/False from strings/booleans
df_a['attributes.RestaurantsTableService'] = df_a['attributes.RestaurantsTableService'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.RestaurantsTableService'].value_counts()

False    149342
True      11243
Name: attributes.RestaurantsTableService, dtype: int64

In [36]:
# WiFi value counts
df_a['attributes.WiFi'].value_counts()

False      101568
u'free'     29051
u'no'       16127
'free'       7699
'no'         5410
u'paid'       551
'paid'        128
None           51
Name: attributes.WiFi, dtype: int64

In [37]:
# Stripping WiFi values to standardize
df_a['attributes.WiFi'] = df_a['attributes.WiFi'].apply(strip_stuff)
df_a['attributes.WiFi'].value_counts()

False    101619
free      36750
no        21537
paid        679
Name: attributes.WiFi, dtype: int64

In [38]:
# BikeParking value counts
df_a['attributes.BikeParking'].value_counts()

False    84105
True     61365
False    15057
None        58
Name: attributes.BikeParking, dtype: int64

In [39]:
# Standardizing BikeParking for True/False
df_a['attributes.BikeParking'] = df_a['attributes.BikeParking'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.BikeParking'].value_counts()

False    99220
True     61365
Name: attributes.BikeParking, dtype: int64

In [40]:
# BusinessAcceptsCreditCards value counts
df_a['attributes.BusinessAcceptsCreditCards'].value_counts()

True     113019
False     40408
False      7105
None         53
Name: attributes.BusinessAcceptsCreditCards, dtype: int64

In [41]:
# Standardizing BusinessAcceptsCreditCards for True/False
df_a['attributes.BusinessAcceptsCreditCards'] = df_a['attributes.BusinessAcceptsCreditCards'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.BusinessAcceptsCreditCards'].value_counts()

True     113019
False     47566
Name: attributes.BusinessAcceptsCreditCards, dtype: int64

In [42]:
# RestaurantsReservations value counts
df_a['attributes.RestaurantsReservations'].value_counts()

False    114978
False     30081
True      15315
None        211
Name: attributes.RestaurantsReservations, dtype: int64

In [ ]:
# Standardizing RestaurantsReservations for True/False
df_a['attributes.RestaurantsReservations'] = df_a['attributes.RestaurantsReservations'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.RestaurantsReservations'].value_counts()

In [44]:
# WheelchairAccessible value counts
df_a['attributes.WheelchairAccessible'].value_counts()

False    131215
True      26329
False      3016
None         25
Name: attributes.WheelchairAccessible, dtype: int64

In [45]:
# Standardizing for True/False
df_a['attributes.WheelchairAccessible'] = df_a['attributes.WheelchairAccessible'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.WheelchairAccessible'].value_counts()

False    134256
True      26329
Name: attributes.WheelchairAccessible, dtype: int64

In [46]:
# Caters value counts
df_a['attributes.Caters'].value_counts()

False    120445
True      21044
False     19047
None         49
Name: attributes.Caters, dtype: int64

In [47]:
# Standardizing for True/False
df_a['attributes.Caters'] = df_a['attributes.Caters'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.Caters'].value_counts()

False    139541
True      21044
Name: attributes.Caters, dtype: int64

In [48]:
# OutdoorSeating value counts
df_a['attributes.OutdoorSeating'].value_counts()

False    110457
False     24050
True      23657
None       2421
Name: attributes.OutdoorSeating, dtype: int64

In [49]:
# Standardizing for True/False
df_a['attributes.OutdoorSeating'] = df_a['attributes.OutdoorSeating'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.OutdoorSeating'].value_counts()

False    136928
True      23657
Name: attributes.OutdoorSeating, dtype: int64

In [50]:
# RestaurantsGoodForGroups value counts
df_a['attributes.RestaurantsGoodForGroups'].value_counts()

False    118013
True      22684
True      15872
False      4005
None         11
Name: attributes.RestaurantsGoodForGroups, dtype: int64

In [51]:
# Standardizing for True/False
df_a['attributes.RestaurantsGoodForGroups'] = df_a['attributes.RestaurantsGoodForGroups'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.RestaurantsGoodForGroups'].value_counts()

False    122029
True      38556
Name: attributes.RestaurantsGoodForGroups, dtype: int64

In [52]:
# HappyHour value counts
df_a['attributes.HappyHour'].value_counts()

False    150439
True       8544
True       1033
False       568
None          1
Name: attributes.HappyHour, dtype: int64

In [53]:
# Standardizing for True/False
df_a['attributes.HappyHour'] = df_a['attributes.HappyHour'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.HappyHour'].value_counts()

False    151008
True       9577
Name: attributes.HappyHour, dtype: int64

In [54]:
# BusinessAcceptsBitcoin value counts
df_a['attributes.BusinessAcceptsBitcoin'].value_counts()

False    158340
False      1744
True        446
True         54
None          1
Name: attributes.BusinessAcceptsBitcoin, dtype: int64

In [55]:
# Standardizing for True/False
df_a['attributes.BusinessAcceptsBitcoin'] = df_a['attributes.BusinessAcceptsBitcoin'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.BusinessAcceptsBitcoin'].value_counts()

False    160085
True        500
Name: attributes.BusinessAcceptsBitcoin, dtype: int64

In [56]:
# RestaurantsPriceRange2 value counts
df_a['attributes.RestaurantsPriceRange2'].value_counts()

False    68143
2        46450
1        27890
3         7330
2.0       5300
1.0       3190
4         1272
3.0        840
4.0        146
None        24
Name: attributes.RestaurantsPriceRange2, dtype: int64

In [57]:
# Standardizing for True/False and values
df_a['attributes.RestaurantsPriceRange2'] = df_a['attributes.RestaurantsPriceRange2'].apply(lambda x: False if x == False or x == 'None' else int(x))
df_a['attributes.RestaurantsPriceRange2'].value_counts()

False    68167
2        51750
1        31080
3         8170
4         1418
Name: attributes.RestaurantsPriceRange2, dtype: int64

In [58]:
# HasTV value counts
df_a['attributes.HasTV'].value_counts()

False    121431
True      18694
True      12091
False      8354
None         15
Name: attributes.HasTV, dtype: int64

In [59]:
# Standardizing for True/False
df_a['attributes.HasTV'] = df_a['attributes.HasTV'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.HasTV'].value_counts()

False    129800
True      30785
Name: attributes.HasTV, dtype: int64

In [60]:
# Alcohol valu ecounts
df_a['attributes.Alcohol'].value_counts()

False               116142
u'none'              15069
u'full_bar'          12719
u'beer_and_wine'      6331
'none'                4682
'full_bar'            3643
'beer_and_wine'       1974
None                    25
Name: attributes.Alcohol, dtype: int64

In [61]:
# Stripping values and standardizing
df_a['attributes.Alcohol'] = df_a['attributes.Alcohol'].apply(lambda x: "full_bar" if x == "u'full_bar'" or x == "'full_bar'" else('beer_and_wine' if x == "u'beer_and_wine'" or x == "'beer_and_wine'" else False))
df_a['attributes.Alcohol'].value_counts()

False            135918
full_bar          16362
beer_and_wine      8305
Name: attributes.Alcohol, dtype: int64

In [62]:
# DogsAllowed value counts
df_a['attributes.DogsAllowed'].value_counts()

False    143546
False     10868
True       5522
True        629
None         20
Name: attributes.DogsAllowed, dtype: int64

In [63]:
# Standardizing for True/False
df_a['attributes.DogsAllowed'] = df_a['attributes.DogsAllowed'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.DogsAllowed'].value_counts()

False    154434
True       6151
Name: attributes.DogsAllowed, dtype: int64

In [64]:
# RestaurantsTakeOut value counts
df_a['attributes.RestaurantsTakeOut'].value_counts()

False    102173
True      51706
False      4941
None       1765
Name: attributes.RestaurantsTakeOut, dtype: int64

In [65]:
# Standardizing for True/False
df_a['attributes.RestaurantsTakeOut'] = df_a['attributes.RestaurantsTakeOut'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.RestaurantsTakeOut'].value_counts()

False    108879
True      51706
Name: attributes.RestaurantsTakeOut, dtype: int64

In [66]:
# NoiseLevel value counts
df_a['attributes.NoiseLevel'].value_counts()

False           121392
u'average'       22936
u'quiet'          6952
'average'         3993
u'loud'           2722
u'very_loud'      1218
'quiet'            877
'loud'             377
'very_loud'         99
None                19
Name: attributes.NoiseLevel, dtype: int64

In [67]:
# stripping values and Standardizing for True/False and other values
df_a['attributes.NoiseLevel'] = df_a['attributes.NoiseLevel'].apply(strip_stuff)
df_a['attributes.NoiseLevel'].value_counts()

False        121411
average       26929
quiet          7829
loud           3099
very_loud      1317
Name: attributes.NoiseLevel, dtype: int64

In [68]:
# RestaurantsAttire value counts
df_a['attributes.RestaurantsAttire'].value_counts()

False        119862
u'casual'     23185
'casual'      16633
u'dressy'       484
'dressy'        343
u'formal'        39
'formal'         24
None             15
Name: attributes.RestaurantsAttire, dtype: int64

In [69]:
# stripping values and Standardizing for True/False and other values
df_a['attributes.RestaurantsAttire'] = df_a['attributes.RestaurantsAttire'].apply(strip_stuff)
df_a['attributes.RestaurantsAttire'].value_counts()

False     119877
casual     39818
dressy       827
formal        63
Name: attributes.RestaurantsAttire, dtype: int64

In [70]:
# RestaurantsDelivery value counts
df_a['attributes.RestaurantsDelivery'].value_counts()

False    106100
True      29418
False     21775
None       3292
Name: attributes.RestaurantsDelivery, dtype: int64

In [71]:
# Standardizing for True/False
df_a['attributes.RestaurantsDelivery'] = df_a['attributes.RestaurantsDelivery'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.RestaurantsDelivery'].value_counts()

False    131167
True      29418
Name: attributes.RestaurantsDelivery, dtype: int64

In [72]:
# GoodForKids value counts
df_a['attributes.GoodForKids'].value_counts()

False    103735
True      45745
False     11079
None         26
Name: attributes.GoodForKids, dtype: int64

In [73]:
# Standardizing for True/False
df_a['attributes.GoodForKids'] = df_a['attributes.GoodForKids'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.GoodForKids'].value_counts()

False    114840
True      45745
Name: attributes.GoodForKids, dtype: int64

In [74]:
# ByAppointmentOnly value counts
df_a['attributes.ByAppointmentOnly'].value_counts()

False    110837
False     28250
True      21445
None         53
Name: attributes.ByAppointmentOnly, dtype: int64

In [75]:
# Standardizing for True/False 
df_a['attributes.ByAppointmentOnly'] = df_a['attributes.ByAppointmentOnly'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.ByAppointmentOnly'].value_counts()

False    139140
True      21445
Name: attributes.ByAppointmentOnly, dtype: int64

In [76]:
# AcceptsInsurance value counts
df_a['attributes.AcceptsInsurance'].value_counts()

False    153863
True       3854
False      1808
True       1049
None         11
Name: attributes.AcceptsInsurance, dtype: int64

In [77]:
# Standardizing for True/False
df_a['attributes.AcceptsInsurance'] = df_a['attributes.AcceptsInsurance'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.AcceptsInsurance'].value_counts()

False    155682
True       4903
Name: attributes.AcceptsInsurance, dtype: int64

In [78]:
# GoodForDancing value counts
df_a['attributes.GoodForDancing'].value_counts()

False    158203
False      1610
True        470
True        298
None          4
Name: attributes.GoodForDancing, dtype: int64

In [79]:
# Standardizing for True/False
df_a['attributes.GoodForDancing'] = df_a['attributes.GoodForDancing'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.GoodForDancing'].value_counts()

False    159817
True        768
Name: attributes.GoodForDancing, dtype: int64

In [80]:
# BYOB value counts
df_a['attributes.BYOB'].value_counts()

False    158605
False      1521
True        226
True        221
None         12
Name: attributes.BYOB, dtype: int64

In [81]:
# Standardizing for True/False
df_a['attributes.BYOB'] = df_a['attributes.BYOB'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.BYOB'].value_counts()

False    160138
True        447
Name: attributes.BYOB, dtype: int64

In [82]:
# CoatCheck value counts
df_a['attributes.CoatCheck'].value_counts()

False    159139
False       977
True        369
True         98
None          2
Name: attributes.CoatCheck, dtype: int64

In [83]:
# Standardizing for True/False
df_a['attributes.CoatCheck'] = df_a['attributes.CoatCheck'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.CoatCheck'].value_counts()

False    160118
True        467
Name: attributes.CoatCheck, dtype: int64

In [84]:
# Smoking value counts
df_a['attributes.Smoking'].value_counts()

False         156166
u'no'           2515
u'outdoor'      1644
u'yes'           196
'no'              44
'outdoor'          9
'yes'              6
None               5
Name: attributes.Smoking, dtype: int64

In [85]:
# stripping values and standardizing
df_a['attributes.Smoking'] = df_a['attributes.Smoking'].apply(strip_stuff).apply(lambda x: False if x == 'no' else x)
df_a['attributes.Smoking'].value_counts()

False      158730
outdoor      1653
yes           202
Name: attributes.Smoking, dtype: int64

In [86]:
# DriveThru value counts
df_a['attributes.DriveThru'].value_counts()

False    154547
True       3063
False      2477
None        498
Name: attributes.DriveThru, dtype: int64

In [87]:
# Standardizing for True/False
df_a['attributes.DriveThru'] = df_a['attributes.DriveThru'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.DriveThru'].value_counts()

False    157522
True       3063
Name: attributes.DriveThru, dtype: int64

In [88]:
# BYOBCorkage value counts
df_a['attributes.BYOBCorkage'].value_counts()

False             156918
'no'                2162
'yes_free'          1187
'yes_corkage'        300
None                  12
u'yes_corkage'         3
u'yes_free'            2
u'no'                  1
Name: attributes.BYOBCorkage, dtype: int64

In [89]:
# Stripping and Standardizing
df_a['attributes.BYOBCorkage'] = df_a['attributes.BYOBCorkage'].apply(strip_stuff).apply(lambda x: False if x == 'no' else x)
df_a['attributes.BYOBCorkage'].value_counts()

False          159093
yes_free         1189
yes_corkage       303
Name: attributes.BYOBCorkage, dtype: int64

In [90]:
# Corkage value counts
df_a['attributes.Corkage'].value_counts()

False    157175
False      2161
True        991
True        244
None         14
Name: attributes.Corkage, dtype: int64

In [91]:
# Standardizing for True/False
df_a['attributes.Corkage'] = df_a['attributes.Corkage'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.Corkage'].value_counts()

False    159350
True       1235
Name: attributes.Corkage, dtype: int64

In [92]:
# RestaurantsCounterService value counts
df_a['attributes.RestaurantsCounterService'].value_counts()

False    160556
True         29
Name: attributes.RestaurantsCounterService, dtype: int64

In [93]:
# Standardizing for True/False
df_a['attributes.RestaurantsCounterService'] = df_a['attributes.RestaurantsCounterService'].apply(lambda x: True if x == 'True' or x == True else False)
df_a['attributes.RestaurantsCounterService'].value_counts()

False    160556
True         29
Name: attributes.RestaurantsCounterService, dtype: int64

In [94]:
# AgesAllowed value counts
df_a['attributes.AgesAllowed'].value_counts()

False         160488
u'21plus'         64
u'18plus'         12
u'allages'        10
u'19plus'         10
None               1
Name: attributes.AgesAllowed, dtype: int64

In [95]:
# Stripping and standardizing
df_a['attributes.AgesAllowed'] = df_a['attributes.AgesAllowed'].apply(strip_stuff)
df_a['attributes.AgesAllowed'].value_counts()

False      160489
21plus         64
18plus         12
allages        10
19plus         10
Name: attributes.AgesAllowed, dtype: int64

In [96]:
# Open24Hours value counts
df_a['attributes.Open24Hours'].value_counts()

False    160580
True          5
Name: attributes.Open24Hours, dtype: int64

In [97]:
# Standardizing for True/False
df_a['attributes.Open24Hours'] = df_a['attributes.Open24Hours'].apply(strip_stuff)
df_a['attributes.Open24Hours'].value_counts()

False    160580
True          5
Name: attributes.Open24Hours, dtype: int64

In [98]:
# Setting up dataframe
df_a['business_id'] = business_id

In [99]:
# Adding cleaned columns to df
cols = df_a.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_a = df_a[cols]
df_a.head()

,business_id,attributes.RestaurantsTableService,attributes.WiFi,attributes.BikeParking,attributes.BusinessAcceptsCreditCards,attributes.RestaurantsReservations,attributes.WheelchairAccessible,attributes.Caters,attributes.OutdoorSeating,attributes.RestaurantsGoodForGroups,attributes.HappyHour,attributes.BusinessAcceptsBitcoin,attributes.RestaurantsPriceRange2,attributes.HasTV,attributes.Alcohol,attributes.DogsAllowed,attributes.RestaurantsTakeOut,attributes.NoiseLevel,attributes.RestaurantsAttire,attributes.RestaurantsDelivery,attributes.GoodForKids,attributes.ByAppointmentOnly,attributes.AcceptsInsurance,attributes.GoodForDancing,attributes.BYOB,attributes.CoatCheck,attributes.Smoking,attributes.DriveThru,attributes.BYOBCorkage,attributes.Corkage,attributes.RestaurantsCounterService,attributes.AgesAllowed,attributes.Open24Hours
0,6iYb2HFDywm3zjuRg0shjw,True,free,True,True,False,True,True,True,True,True,False,2,True,beer_and_wine,False,True,average,casual,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,tCbdrRPZA0oiIYSmHG3J0w,False,free,False,True,False,False,True,False,False,False,False,2,False,beer_and_wine,False,True,average,casual,False,True,False,False,False,False,False,False,False,False,False,False,False,False
2,bvN78flM8NLprQ1a1y5dRg,False,False,False,True,False,False,False,False,False,False,False,2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,oaepsyvc0J17qwi8cfrOWg,False,False,False,True,False,False,False,False,False,False,False,1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False
4,PE9uqAjdw0E4-8mjGl3wVA,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [100]:
# Saving business attributes to csv
df_a.to_csv('df_business_attrbutes.csv')